In [13]:
import json
import geojson
from pprint import pprint
import pandas as pd

In [14]:
worldgeojson = {
    "type": "FeatureCollection",
    "features": []
}

In [21]:
happy = pd.read_csv("map_2019.csv")
happiness = happy.round({'happiness_score': 2, 'gdp_per_capita': 2, 'social_support': 2, 'life_expectancy': 2, 'freedom': 2, 
                'generosity':2, 'government_corr': 2})
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
country            156 non-null object
happiness_rank     156 non-null int64
happiness_score    156 non-null float64
gdp_per_capita     156 non-null float64
social_support     156 non-null float64
life_expectancy    156 non-null float64
freedom            156 non-null float64
generosity         156 non-null float64
government_corr    156 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [23]:
happiness.head(25)

,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr
0,Finland,1,7.77,1.34,1.59,0.99,0.60,0.15,0.39
1,Denmark,2,7.60,1.38,1.57,1.00,0.59,0.25,0.41
2,Norway,3,7.55,1.49,1.58,1.03,0.60,0.27,0.34
3,Iceland,4,7.49,1.38,1.62,1.03,0.59,0.35,0.12
4,Netherlands,5,7.49,1.40,1.52,1.00,0.56,0.32,0.30
5,Switzerland,6,7.48,1.45,1.53,1.05,0.57,0.26,0.34
6,Sweden,7,7.34,1.39,1.49,1.01,0.57,0.27,0.37
7,New Zealand,8,7.31,1.30,1.56,1.03,0.58,0.33,0.38
8,Canada,9,7.28,1.36,1.50,1.04,0.58,0.28,0.31
9,Austria,10,7.25,1.38,1.48,1.02,0.53,0.24,0.23
10,Australia,11,7.23,1.37,1.55,1.04,0.56,0.33,0.29
11,Costa Rica,12,7.17,1.03,1.44,0.96,0.56,0.14,0.09
12,Israel,13,7.14,1.28,1.46,1.03,0.37,0.26,0.08
13,Luxembourg,14,7.09,1.61,1.48,1.01,0.53,0.19,0.32
14,United Kingdom,15,7.05,1.33,1.54,1.00,0.45,0.35,0.28
15,Ireland,16,7.02,1.50,1.55,1.00,0.52,0.30,0.31
16,Germany,17,6.98,1.37,1.45,0.99,0.50,0.26,0.26
17,Belgium,18,6.92,1.36,1.50,0.99,0.47,0.16,0.21
18,United States of America,19,6.89,1.43,1.46,0.87,0.45,0.28,0.13
19,Czech Republic,20,6.85,1.27,1.49,0.92,0.46,0.05,0.04
20,United Arab Emirates,21,6.82,1.50,1.31,0.82,0.60,0.26,0.18
21,Malta,22,6.73,1.30,1.52,1.00,0.56,0.38,0.15
22,Mexico,23,6.60,1.07,1.32,0.86,0.43,0.07,0.07
23,France,24,6.59,1.32,1.47,1.04,0.44,0.11,0.18
24,Taiwan,25,6.45,1.37,1.43,0.91,0.35,0.24,0.10

In [24]:
with open('countries.geo.json') as f:
    features = json.load(f)["features"]
    for foo in features:
        try:
            name = foo['properties']["name"]
            happydata = happiness.loc[happiness["country"] == name, :]
            happydict = happydata.to_dict(orient = 'records')[0]
            foo["properties"] = happydict
            worldgeojson["features"].append(foo)
        except:
            print(f'An error occured for name #: {name}')

An error occured for name #: Angola
An error occured for name #: Antarctica
An error occured for name #: French Southern and Antarctic Lands
An error occured for name #: The Bahamas
An error occured for name #: Belize
An error occured for name #: Bermuda
An error occured for name #: Brunei
An error occured for name #: Democratic Republic of the Congo
An error occured for name #: Republic of the Congo
An error occured for name #: Cuba
An error occured for name #: Djibouti
An error occured for name #: Eritrea
An error occured for name #: Fiji
An error occured for name #: Falkland Islands
An error occured for name #: Guinea Bissau
An error occured for name #: Equatorial Guinea
An error occured for name #: Greenland
An error occured for name #: French Guiana
An error occured for name #: Guyana
An error occured for name #: Macedonia
An error occured for name #: New Caledonia
An error occured for name #: Oman
An error occured for name #: Papua New Guinea
An error occured for name #: Puerto Rico
An error occured for name #: North Korea
An error occured for name #: Western Sahara
An error occured for name #: Sudan
An error occured for name #: Solomon Islands
An error occured for name #: Somaliland
An error occured for name #: Republic of Serbia
An error occured for name #: Suriname
An error occured for name #: East Timor
An error occured for name #: Trinidad and Tobago
An error occured for name #: United Republic of Tanzania
An error occured for name #: Vanuatu
An error occured for name #: West Bank

In [25]:
print(foo)

{'type': 'Feature', 'id': 'ZWE', 'properties': {'country': 'Zimbabwe', 'happiness_rank': 146, 'happiness_score': 3.66, 'gdp_per_capita': 0.37, 'social_support': 1.11, 'life_expectancy': 0.43, 'freedom': 0.36, 'generosity': 0.15, 'government_corr': 0.09}, 'geometry': {'type': 'Polygon', 'coordinates': [[[31.191409, -22.25151], [30.659865, -22.151567], [30.322883, -22.271612], [29.839037, -22.102216], [29.432188, -22.091313], [28.794656, -21.639454], [28.02137, -21.485975], [27.727228, -20.851802], [27.724747, -20.499059], [27.296505, -20.39152], [26.164791, -19.293086], [25.850391, -18.714413], [25.649163, -18.536026], [25.264226, -17.73654], [26.381935, -17.846042], [26.706773, -17.961229], [27.044427, -17.938026], [27.598243, -17.290831], [28.467906, -16.4684], [28.825869, -16.389749], [28.947463, -16.043051], [29.516834, -15.644678], [30.274256, -15.507787], [30.338955, -15.880839], [31.173064, -15.860944], [31.636498, -16.07199], [31.852041, -16.319417], [32.328239, -16.392074], [32.847639, -16.713398], [32.849861, -17.979057], [32.654886, -18.67209], [32.611994, -19.419383], [32.772708, -19.715592], [32.659743, -20.30429], [32.508693, -20.395292], [32.244988, -21.116489], [31.191409, -22.25151]]]}}

In [26]:
with open('countries.geo.json', 'w') as fp:
    geojson.dump(worldgeojson, fp)